<h1>Registration Form</h1>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="registration-form">
    <div class="form-group">
        <input type = "text" formControlName="fullName" placeholder="FullName" (onblur)="onTouch('fullName')"/>
        <div *ngIf="registerForm.get('fullName')?.invalid && (registerForm.get('fullName')?.touched || registerForm.get('fullName')?.dirty)">
            <p *ngIf="registerForm.get('fullName')?.errors?.['required']">FullName is required </p>
            <p *ngIf="registerForm.get('fullName')?.errors?.['pattern']">Fullname allows only characters</p>
        </div>
    </div>

    <div  class="form-group">
        <input  type = "text" formControlName="email" placeholder="Email" (onblur)="onTouch('email')"/>
        <div *ngIf="registerForm.get('email')?.invalid && (registerForm.get('email')?.touched ||  registerForm.get('email')?.dirty)">
            <p *ngIf="registerForm.get('email')?.errors?.['required']">Email is required </p>
            <p *ngIf="registerForm.get('email')?.errors?.['email']">Enter valid email</p>
        </div>
    </div>

    <div  class="form-group">
        <input  type = "password" formControlName="password" placeholder="Password" (onblur)="onTouch('password')"/>
        <div *ngIf="registerForm.get('password')?.invalid && (registerForm.get('password')?.touched ||  registerForm.get('password')?.dirty)">
            <p *ngIf="registerForm.get('password')?.errors?.['required']">password is required </p>
            <p *ngIf="registerForm.get('password')?.errors?.['minlength']">Minimum 8 characters </p>
            <p *ngIf="registerForm.get('password')?.errors?.['maxlength']">Maxmium 12 characters </p>
            <p *ngIf="registerForm.get('password')?.errors?.['pattern'] || registerForm.get('password')?.errors?.['invalidpassword']">Passowrd allows only characters, numbers and $,#amp,& and *</p>
        </div>
    </div>

    <div  class="form-group">
        <input   type = "password" formControlName="confirmpassword" placeholder="ConfirmPassword" (onblur)="onTouch('confirmpassword')"/>
        <div *ngIf="registerForm.get('confirmpassword')?.invalid && (registerForm.get('confirmpassword')?.touched || registerForm.get('confirmpassword')?.dirty)">
            <p *ngIf="registerForm.get('confirmpassword')?.errors?.['required']">Confirmpassword is required </p>
            <p *ngIf="registerForm.get('confirmpassword')?.errors?.['confirmpwdinvalid']">Confirm password does match with password</p>
        </div>
    </div>

    <div  class="form-group">
        <input  type = "text" formControlName="phonenumber" placeholder="PhoneNumber" (onblur)="onTouch('phonenumber')"/>
        <div *ngIf="registerForm.get('phonenumber')?.invalid && (registerForm.get('phonenumber')?.touched || registerForm.get('phonenumber')?.dirty)">
            <p *ngIf="registerForm.get('phonenumber')?.errors?.['required']">phone number is required </p>
            <p *ngIf="registerForm.get('phonenumber')?.errors?.['pattern']">phone number allows only numbers and 10 digits</p>
        </div>
    </div>

    <button type="submit" [disabled]="registerForm.invalid">Register</button>
</form>